In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
# read in csv files into df
csv_file = "Resources/2019.csv"
year_2019 = pd.read_csv(csv_file)

csv_file = "Resources/2018.csv"
year_2018 = pd.read_csv(csv_file)

csv_file = "Resources/2017.csv"
year_2017 = pd.read_csv(csv_file)

csv_file = "Resources/2016.csv"
year_2016 = pd.read_csv(csv_file)

csv_file = "Resources/2015.csv"
year_2015 = pd.read_csv(csv_file)

## --------------------------------------------------------------------------------
## Clean and combine happiness years dfs

In [3]:
#add column 'years' to each df
year_col = '2019'
year_2019['Year'] = year_col

year_col2 = '2018'
year_2018['Year'] = year_col2

year_col3 = '2017'
year_2017['Year'] = year_col3

year_col4 = '2016'
year_2016['Year'] = year_col4

year_col5 = '2015'
year_2015['Year'] = year_col5

In [4]:
year_2019_df = year_2019.rename(columns={'GDP per capita': 'GDP per Capita','Country or region': 'Country', 'Healthy life expectancy': 'Life Expectancy', 'Freedom to make life choices': 'Freedom', 'Social support': 'Social Support'})
year_2019_df

,Overall rank,Country,Score,GDP per Capita,Social Support,Life Expectancy,Freedom,Generosity,Perceptions of corruption,Year
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393,2019
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410,2019
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341,2019
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118,2019
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298,2019
...,...,...,...,...,...,...,...,...,...,...
151,152,Rwanda,3.334,0.359,0.711,0.614,0.555,0.217,0.411,2019
152,153,Tanzania,3.231,0.476,0.885,0.499,0.417,0.276,0.147,2019
153,154,Afghanistan,3.203,0.350,0.517,0.361,0.000,0.158,0.025,2019
154,155,Central African Republic,3.083,0.026,0.000,0.105,0.225,0.235,0.035,2019
155,156,South Sudan,2.853,0.306,0.575,0.295,0.010,0.202,0.091,2019

In [5]:
year_2019_df2 = year_2019_df.drop(columns=['Overall rank', 'Generosity', 'Perceptions of corruption'])
year_2019_df2

,Country,Score,GDP per Capita,Social Support,Life Expectancy,Freedom,Year
0,Finland,7.769,1.340,1.587,0.986,0.596,2019
1,Denmark,7.600,1.383,1.573,0.996,0.592,2019
2,Norway,7.554,1.488,1.582,1.028,0.603,2019
3,Iceland,7.494,1.380,1.624,1.026,0.591,2019
4,Netherlands,7.488,1.396,1.522,0.999,0.557,2019
...,...,...,...,...,...,...,...
151,Rwanda,3.334,0.359,0.711,0.614,0.555,2019
152,Tanzania,3.231,0.476,0.885,0.499,0.417,2019
153,Afghanistan,3.203,0.350,0.517,0.361,0.000,2019
154,Central African Republic,3.083,0.026,0.000,0.105,0.225,2019
155,South Sudan,2.853,0.306,0.575,0.295,0.010,2019

In [6]:
year_2018_df = year_2018.rename(columns={'GDP per capita': 'GDP per Capita', 'Country or region': 'Country', 'Healthy life expectancy': 'Life Expectancy', 'Freedom to make life choices': 'Freedom', 'Social support': 'Social Support'})
year_2018_df

,Overall rank,Country,Score,GDP per Capita,Social Support,Life Expectancy,Freedom,Generosity,Perceptions of corruption,Year
0,1,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393,2018
1,2,Norway,7.594,1.456,1.582,0.861,0.686,0.286,0.340,2018
2,3,Denmark,7.555,1.351,1.590,0.868,0.683,0.284,0.408,2018
3,4,Iceland,7.495,1.343,1.644,0.914,0.677,0.353,0.138,2018
4,5,Switzerland,7.487,1.420,1.549,0.927,0.660,0.256,0.357,2018
...,...,...,...,...,...,...,...,...,...,...
151,152,Yemen,3.355,0.442,1.073,0.343,0.244,0.083,0.064,2018
152,153,Tanzania,3.303,0.455,0.991,0.381,0.481,0.270,0.097,2018
153,154,South Sudan,3.254,0.337,0.608,0.177,0.112,0.224,0.106,2018
154,155,Central African Republic,3.083,0.024,0.000,0.010,0.305,0.218,0.038,2018
155,156,Burundi,2.905,0.091,0.627,0.145,0.065,0.149,0.076,2018

In [7]:
year_2018_df2 = year_2018_df.drop(columns=['Overall rank', 'Generosity', 'Perceptions of corruption', 'Generosity'])
year_2018_df2

,Country,Score,GDP per Capita,Social Support,Life Expectancy,Freedom,Year
0,Finland,7.632,1.305,1.592,0.874,0.681,2018
1,Norway,7.594,1.456,1.582,0.861,0.686,2018
2,Denmark,7.555,1.351,1.590,0.868,0.683,2018
3,Iceland,7.495,1.343,1.644,0.914,0.677,2018
4,Switzerland,7.487,1.420,1.549,0.927,0.660,2018
...,...,...,...,...,...,...,...
151,Yemen,3.355,0.442,1.073,0.343,0.244,2018
152,Tanzania,3.303,0.455,0.991,0.381,0.481,2018
153,South Sudan,3.254,0.337,0.608,0.177,0.112,2018
154,Central African Republic,3.083,0.024,0.000,0.010,0.305,2018
155,Burundi,2.905,0.091,0.627,0.145,0.065,2018

In [8]:
year_2017_df = year_2017.rename(columns={'Happiness.Score': 'Score', 'Economy..GDP.per.Capita.': 'GDP per Capita','Health..Life.Expectancy.': 'Life Expectancy', 'Family': 'Social Support'})
year_2017_df

,Country,Happiness.Rank,Score,Whisker.high,Whisker.low,GDP per Capita,Social Support,Life Expectancy,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual,Year
0,Norway,1,7.537,7.594445,7.479556,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027,2017
1,Denmark,2,7.522,7.581728,7.462272,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707,2017
2,Iceland,3,7.504,7.622030,7.385970,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2.322715,2017
3,Switzerland,4,7.494,7.561772,7.426227,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2.276716,2017
4,Finland,5,7.469,7.527542,7.410458,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2.430182,2017
...,...,...,...,...,...,...,...,...,...,...,...,...,...
150,Rwanda,151,3.471,3.543030,3.398970,0.368746,0.945707,0.326425,0.581844,0.252756,0.455220,0.540061,2017
151,Syria,152,3.462,3.663669,3.260331,0.777153,0.396103,0.500533,0.081539,0.493664,0.151347,1.061574,2017
152,Tanzania,153,3.349,3.461430,3.236570,0.511136,1.041990,0.364509,0.390018,0.354256,0.066035,0.621130,2017
153,Burundi,154,2.905,3.074690,2.735310,0.091623,0.629794,0.151611,0.059901,0.204435,0.084148,1.683024,2017
154,Central African Republic,155,2.693,2.864884,2.521116,0.000000,0.000000,0.018773,0.270842,0.280876,0.056565,2.066005,2017

In [9]:
year_2017_df2 = year_2017_df.drop(columns=['Happiness.Rank', 'Whisker.high', 'Whisker.low', 'Generosity', 'Trust..Government.Corruption.', 'Dystopia.Residual'])
year_2017_df2

,Country,Score,GDP per Capita,Social Support,Life Expectancy,Freedom,Year
0,Norway,7.537,1.616463,1.533524,0.796667,0.635423,2017
1,Denmark,7.522,1.482383,1.551122,0.792566,0.626007,2017
2,Iceland,7.504,1.480633,1.610574,0.833552,0.627163,2017
3,Switzerland,7.494,1.564980,1.516912,0.858131,0.620071,2017
4,Finland,7.469,1.443572,1.540247,0.809158,0.617951,2017
...,...,...,...,...,...,...,...
150,Rwanda,3.471,0.368746,0.945707,0.326425,0.581844,2017
151,Syria,3.462,0.777153,0.396103,0.500533,0.081539,2017
152,Tanzania,3.349,0.511136,1.041990,0.364509,0.390018,2017
153,Burundi,2.905,0.091623,0.629794,0.151611,0.059901,2017
154,Central African Republic,2.693,0.000000,0.000000,0.018773,0.270842,2017

In [10]:
year_2016_df = year_2016.rename(columns={'Happiness Score': 'Score', 'Economy (GDP per Capita)': 'GDP per Capita','Health (Life Expectancy)': 'Life Expectancy', 'Family': 'Social Support'})
year_2016_df

,Country,Region,Happiness Rank,Score,Lower Confidence Interval,Upper Confidence Interval,GDP per Capita,Social Support,Life Expectancy,Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,Year
0,Denmark,Western Europe,1,7.526,7.460,7.592,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171,2.73939,2016
1,Switzerland,Western Europe,2,7.509,7.428,7.590,1.52733,1.14524,0.86303,0.58557,0.41203,0.28083,2.69463,2016
2,Iceland,Western Europe,3,7.501,7.333,7.669,1.42666,1.18326,0.86733,0.56624,0.14975,0.47678,2.83137,2016
3,Norway,Western Europe,4,7.498,7.421,7.575,1.57744,1.12690,0.79579,0.59609,0.35776,0.37895,2.66465,2016
4,Finland,Western Europe,5,7.413,7.351,7.475,1.40598,1.13464,0.81091,0.57104,0.41004,0.25492,2.82596,2016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
152,Benin,Sub-Saharan Africa,153,3.484,3.404,3.564,0.39499,0.10419,0.21028,0.39747,0.06681,0.20180,2.10812,2016
153,Afghanistan,Southern Asia,154,3.360,3.288,3.432,0.38227,0.11037,0.17344,0.16430,0.07112,0.31268,2.14558,2016
154,Togo,Sub-Saharan Africa,155,3.303,3.192,3.414,0.28123,0.00000,0.24811,0.34678,0.11587,0.17517,2.13540,2016
155,Syria,Middle East and Northern Africa,156,3.069,2.936,3.202,0.74719,0.14866,0.62994,0.06912,0.17233,0.48397,0.81789,2016
156,Burundi,Sub-Saharan Africa,157,2.905,2.732,3.078,0.06831,0.23442,0.15747,0.04320,0.09419,0.20290,2.10404,2016

In [11]:
year_2016_df2 = year_2016_df.drop(columns=['Region', 'Happiness Rank', 'Trust (Government Corruption)', 'Lower Confidence Interval', 'Upper Confidence Interval', 'Generosity', 'Dystopia Residual'])
year_2016_df2

,Country,Score,GDP per Capita,Social Support,Life Expectancy,Freedom,Year
0,Denmark,7.526,1.44178,1.16374,0.79504,0.57941,2016
1,Switzerland,7.509,1.52733,1.14524,0.86303,0.58557,2016
2,Iceland,7.501,1.42666,1.18326,0.86733,0.56624,2016
3,Norway,7.498,1.57744,1.12690,0.79579,0.59609,2016
4,Finland,7.413,1.40598,1.13464,0.81091,0.57104,2016
...,...,...,...,...,...,...,...
152,Benin,3.484,0.39499,0.10419,0.21028,0.39747,2016
153,Afghanistan,3.360,0.38227,0.11037,0.17344,0.16430,2016
154,Togo,3.303,0.28123,0.00000,0.24811,0.34678,2016
155,Syria,3.069,0.74719,0.14866,0.62994,0.06912,2016
156,Burundi,2.905,0.06831,0.23442,0.15747,0.04320,2016

In [12]:
year_2015_df = year_2015.rename(columns={'Happiness Score': 'Score', 'Economy (GDP per Capita)': 'GDP per Capita','Health (Life Expectancy)': 'Life Expectancy', 'Family': 'Social Support'})
year_2015_df

,Country,Region,Happiness Rank,Score,Standard Error,GDP per Capita,Social Support,Life Expectancy,Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,Year
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,2015
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,2015
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,2015
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,2015
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...
153,Rwanda,Sub-Saharan Africa,154,3.465,0.03464,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,0.67042,2015
154,Benin,Sub-Saharan Africa,155,3.340,0.03656,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,1.63328,2015
155,Syria,Middle East and Northern Africa,156,3.006,0.05015,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,0.32858,2015
156,Burundi,Sub-Saharan Africa,157,2.905,0.08658,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,1.83302,2015
157,Togo,Sub-Saharan Africa,158,2.839,0.06727,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,1.56726,2015

In [13]:
year_2015_df2 = year_2015_df.drop(columns=['Region', 'Happiness Rank', 'Standard Error', 'Trust (Government Corruption)', 'Generosity', 'Dystopia Residual'])
year_2015_df2

,Country,Score,GDP per Capita,Social Support,Life Expectancy,Freedom,Year
0,Switzerland,7.587,1.39651,1.34951,0.94143,0.66557,2015
1,Iceland,7.561,1.30232,1.40223,0.94784,0.62877,2015
2,Denmark,7.527,1.32548,1.36058,0.87464,0.64938,2015
3,Norway,7.522,1.45900,1.33095,0.88521,0.66973,2015
4,Canada,7.427,1.32629,1.32261,0.90563,0.63297,2015
...,...,...,...,...,...,...,...
153,Rwanda,3.465,0.22208,0.77370,0.42864,0.59201,2015
154,Benin,3.340,0.28665,0.35386,0.31910,0.48450,2015
155,Syria,3.006,0.66320,0.47489,0.72193,0.15684,2015
156,Burundi,2.905,0.01530,0.41587,0.22396,0.11850,2015
157,Togo,2.839,0.20868,0.13995,0.28443,0.36453,2015

## Final happiness_df (all 5 years)

In [14]:
happiness_df = pd.concat([year_2019_df2, year_2018_df2, year_2017_df2, year_2016_df2, year_2015_df2], sort=True)
happiness_df

,Country,Freedom,GDP per Capita,Life Expectancy,Score,Social Support,Year
0,Finland,0.59600,1.34000,0.98600,7.769,1.58700,2019
1,Denmark,0.59200,1.38300,0.99600,7.600,1.57300,2019
2,Norway,0.60300,1.48800,1.02800,7.554,1.58200,2019
3,Iceland,0.59100,1.38000,1.02600,7.494,1.62400,2019
4,Netherlands,0.55700,1.39600,0.99900,7.488,1.52200,2019
...,...,...,...,...,...,...,...
153,Rwanda,0.59201,0.22208,0.42864,3.465,0.77370,2015
154,Benin,0.48450,0.28665,0.31910,3.340,0.35386,2015
155,Syria,0.15684,0.66320,0.72193,3.006,0.47489,2015
156,Burundi,0.11850,0.01530,0.22396,2.905,0.41587,2015
157,Togo,0.36453,0.20868,0.28443,2.839,0.13995,2015

In [15]:
happiness_df.isnull().sum()

Country            0
Freedom            0
GDP per Capita     0
Life Expectancy    0
Score              0
Social Support     0
Year               0
dtype: int64

## --------------------------------------------------------------------------------
## Final: pop_growth_df (population growth)

In [16]:
# read in csv files into df
csv_pop_growth = "Resources/Population_growth.csv"
csv_pop_growth_file = pd.read_csv(csv_pop_growth)

csv_suic_rate = "Resources/Suicide_rate.csv"
csv_suic_rate_file = pd.read_csv(csv_suic_rate)

In [17]:
pop_growth_df = csv_pop_growth_file.drop(columns=['ISO-code'])
pop_growth_df

            Country  Population growth
0       Afghanistan               2.41
1           Albania               0.26
2           Algeria               1.89
3    American Samoa              -0.26
4           Andorra               0.63
..              ...                ...
202       Venezuela               1.53
203         Vietnam               1.06
204           Yemen               2.33
205          Zambia               3.19
206        Zimbabwe               2.70

[207 rows x 2 columns]

In [23]:
pop_growth_df.isnull().sum()

Country              0
Population growth    0
dtype: int64

## --------------------------------------------------------------------------------
## Final: suic_rate_df (suicide rate)

In [18]:
suic_rate_df = csv_suic_rate_file.drop(columns=['ISO-code'])
suic_rate_df

                 Country  Suicide rate
0            Afghanistan           6.4
1                Albania           5.6
2                Algeria           3.3
3                 Angola           8.9
4    Antigua and Barbuda           0.5
..                   ...           ...
177            Venezuela           3.8
178              Vietnam           7.0
179                Yemen           9.8
180               Zambia          11.3
181             Zimbabwe          19.1

[182 rows x 2 columns]

In [22]:
suic_rate_df.isnull().sum()

Country         0
Suicide rate    0
dtype: int64

## --------------------------------------------------------------------------------
## read in csv file: India_GDP_1960-2022

In [19]:
csv_india_gdp = "Resources/India_GDP_1960-2022.csv"
csv_india_gdp_file = pd.read_csv(csv_india_gdp, skiprows=[0])
csv_india_gdp_file

    Unnamed: 0  Year  GDP in (Billion) $  Per Capita in rupees  Growth %
0            0  2021             3173.40                182160      8.95
1            1  2020             2667.69                154640     -6.60
2            2  2019             2831.55                165760      3.74
3            3  2018             2702.93                159840      6.45
4            4  2017             2651.47                158480      6.80
..         ...   ...                 ...                   ...       ...
57          57  1964               56.48                  9280      7.45
58          58  1963               48.42                  8080      5.99
59          59  1962               42.16                  7200      2.93
60          60  1961               39.23                  6800      3.72
61          61  1960               37.03                  6560      0.00

[62 rows x 5 columns]

## Final:  india_gdp_df

In [20]:
india_gdp_df = csv_india_gdp_file.drop(columns=['Unnamed: 0'])
india_gdp_df

    Year  GDP in (Billion) $  Per Capita in rupees  Growth %
0   2021             3173.40                182160      8.95
1   2020             2667.69                154640     -6.60
2   2019             2831.55                165760      3.74
3   2018             2702.93                159840      6.45
4   2017             2651.47                158480      6.80
..   ...                 ...                   ...       ...
57  1964               56.48                  9280      7.45
58  1963               48.42                  8080      5.99
59  1962               42.16                  7200      2.93
60  1961               39.23                  6800      3.72
61  1960               37.03                  6560      0.00

[62 rows x 4 columns]

In [21]:
india_gdp_df.isnull().sum()

Year                    0
GDP in (Billion) $      0
Per Capita in rupees    0
Growth %                0
dtype: int64

## --------------------------------------------------------------------------------