In [ ]:
import pandas as pd
from sqlalchemy import create_engine

In [ ]:
#connect to local db

protocol = 'postgresql'
username = ''
password = ''
host = 'localhost'
port = 5432
database_name = 'happiness_db'
rds_connection_string = f'{protocol}://{username}:{password}@{host}:{port}/{database_name}'
engine = create_engine(rds_connection_string)

In [ ]:
#confirm table names in SQL
engine.table_names()

In [ ]:
#add the happiness df
hapiness_df.to_sql(name='HAPPINESS', con=engine, if_exists='append', index=False)

In [ ]:
#add the SUICIDE df
suic_rate_df.to_sql(name='SUICIDE_RATE', con=engine, if_exists='append', index=False)

In [ ]:
#add the POPULATION df
pop_growth_df.to_sql(name='POPULATION_GROWTH', con=engine, if_exists='append', index=False)

In [ ]:
#add the INDIA  df
india_gdp_df.to_sql(name='INDIA_GDP', con=engine, if_exists='append', index=False)

In [ ]:
#confirm data is there HAPPINESS
pd.read_sql_query('select * from HAPPINESS', con=engine).head()

In [ ]:
#confirm data is there SUICIDE_RATE
pd.read_sql_query('select * from SUICIDE_RATE', con=engine).head()

In [ ]:
#confirm data is there POPULATION_GROWTH
pd.read_sql_query('select * from POPULATION_GROWTH', con=engine).head()

In [ ]:
#confirm data is there INDIA_GDP
pd.read_sql_query('select * from INDIA_GDP', con=engine).head()